{
  "semi": true,
  "endOfLine": "lf",
  "tabWidth": 2,
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "css",
  "singleAttributePerLine": true,
  "jsxSingleQuote": true,
  "trailingComma": "all"
}
